@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body
{
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: #505962;
}

#page{
	display: none;
	overflow-x: hidden;
}

#loading{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #fff;
}

#loading h1{
position: relative;
font-size: 7vw;
color: #fff;
}

#loading h1:before{
content: attr(data-text);
position: absolute;
top: 0;
left: 0;
width: 100%;
color: orange;
overflow: hidden;
animation: animate 2s linear infinite;
}

@keyframes animate {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

.navbar{
	font-size:42;
	max-width:100vw;
}

.navbar li{
	margin: 0px 3px;
}

.navbar-brand
{
	font-weight:300;
}

.navbar a{
	color:brown;
}

.navbar a:hover{
	color: red;
}

#bgimages .carousel-item{
	height:100vh;
	width:100%;
}

.carousel-caption
{
	position:absolute;
	top:38%;
}

.jumbotron{
	border-radius:0;
	padding: 3rem 0 2rem;
	margin-bottom:0;
	width:100%;
}

h3.heading{
	padding-bottom: 1.9rem;
}

.heading-underline{
	width: 3rem;
	height: .2rem;
	background-color: brown;
	margin: 0 auto 3rem;
}

.progress{
	display:none;
	margin-bottom:1rem;
}

.newplaces img{
	width:100%;
	height: 100%;
	object-fit:cover;
	transition:transform .5s ease;
}
.row.no-padding [class*=col-]{
	padding:0;
}
.newplaces:hover img{
	transform: scale(1.1);
	-webkit-filter: brightness(70%);
}

.newplaces .content
{
	position: absolute;
	top: 55%;
	left: 5%;
	align-items: flex-end;
	color: transparent;
}

.newplaces:hover .content{
	color: white;
}

#plimages .content
{
	position: absolute;
	top: 3%;
	right:1%;
}

.fas .fa-trash-alt .fa-2x
{
	color: transparent;
}

#plimages:hover .fas .fa-trash-alt .fa-2x{
	color: gainsboro;
}

.placeslist img{
	width:100%;
}

.placeslist a{
	color: #6c6c6c;
}

.placeslist a:hover{
	text-decoration:none;
}

footer a{
	color: white;
}

footer a:hover{
	color: white;
	text-decoration:none;
}
.placeslist{
	border: .08rem solid #808080;
	margin-top: .3rem;
	border-radius: .2rem;
	background-color: #eceef0;
}

.comment{
	border: .08rem solid #808080;
	margin-top: .7rem;
	border-radius: .2rem;
	background-color: #eceef0;
	padding: .5rem;
}

.newplaces{
	overflow:hidden;
	height:20vw;
	max-width:103.8vw;
}

.narrow{
	width:75%;
	margin: 0 auto;
	padding-top: 2rem;
}

.ad{
text-align:center;
background-color:#d6d6d6;	
}

footer h1{
	color: orange;
}

footer{
	background-color: #626262;
	color: white;
	padding: 2rem 0 3rem;
}

hr.socket{
	border-top: .2rem solid #666b71;
	width:100vw;
}

#loginbg{
	background-image: url(/resources/images/landscape.jpg);
	width: 100%;
	min-height: 100vh;
}
#profilbg{
	background-image: url(/resources/images/feather.jpg);
	width: 100%;
	height: 100vh;
}
#registerbg{
	background-image: url(/resources/images/japan.jpg);
	width: 100%;
	min-height: 100vh;
}
#addplacebg{
	background-image: url(/resources/images/sea.jpg);
	width: 100%;
	min-height: 100vh;
}
#editcred{
	background-image: url(/resources/images/lavender.jpg);
	width: 100%;
	min-height: 100vh;
}
#bg{
	background-color: #dfe2e6;
	padding-top: 3rem;
	width:100%;
	min-height: 65.5vh;
}
#place{
	margin: 2rem auto 0;
	padding: 1rem 0;
	min-width: 90vw;
	width:90vw;
	max-width:100vw;
	background-color: #eceef0;
}
#place img{
	width:100%;
	margin: 1rem 0;
}
#placeslist{
	min-width:80vw;
	max-width:80vw;
	padding: 2rem 1rem;
}

#comment{
	min-width:90vw;
	max-width:90vw;
	padding: 1rem 0;
}

#bcom
{
	margin-left:1rem;
}

.form-container{
	padding:50px 60px;
	margin-top:20vh;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}
.pagination>li>a{
	background-color: #eceef0;
	border: .01rem solid #7b9dda;
}
.pagination>li>a:hover{
	background-color: #c4c5c8;
	border: .01rem solid #7b9dda;
}
#placeForm
{
	margin-top:15vh;
	padding:30px 60px;
}

#loginName{
	text-align: center;
	color: black;
}
#input{
	color: black;
}

#pages{
	display: flex; 
	justify-content: center;
	margin-top: 2rem;
}

#btn
{
	text-align:center;
	padding: .1rem;
}

.nav-link.dropdown-toggle
{
	line-height:0.5;
}

@media screen and (min-width: 600px) and (max-width: 1000px)
{
		.newplaces
	{
	height: 30vw;
	}
		#newplaces .col-sm-4
		{
		flex: 0 0 50%;
		max-width: 50%;
		}
	
}


@media screen and (max-width: 600px)
{
	#newplaces .col-sm-4
		{
		flex: 0 0 100%;
		max-width: 100%;
		}
	.newplaces
	{
	height: 50vw;
	}
	#place
	{
	width: 100%;
	}
}
